#navbar {
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;

  & ul {
    margin: 0;
    padding: 0 10%;

    list-style-type: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  & ul > * {
    padding: 2% 0;
    font-size: 24px;
    letter-spacing: 2px;

    margin: 0;
  }
  
  #not-left {
    display: flex;
    justify-content: center; 
    align-items: center;
    
    font-weight: 500;
    width: fit-content;
    margin-left: auto;

    & li {
      padding: 0 25%;
    }
  }
}
